:root {
    --coral: #FF7F50;
    --turquoise: #40e0d0;
    --white: #FFF;
    --light-gray: #e8e8e8;
    --dark-gray: #A9A9A9;
    --gray: #808080;
    --black: #000;
    --green: rgb(31, 187, 10);
    --red: #f52323;
}

body {
    font-family: Robot, sans-serif;
    display:flex;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 2rem ;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: .8rem;
}

.center-body {
    background-color: var(--light-gray);
    box-shadow: 0px 0px 10px var(--light-gray);
    width:800px;
}
.tic-tac-toe-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    margin-bottom: 2rem;
}

main {
    display:flex;
    justify-content: center;
}
.game-over-grid {
    opacity: .5;
    cursor: not-allowed;
}

.grid-wrapper {
    display:none;
}

.tic-tac-toe-cell {
    background-color: var(--coral);
    border:2px solid var(--black);
    color: var(--turquoise);
    font-weight: bold;
    font-size:100px;
    text-align: center;
    cursor: pointer;
    transition: opacity .3s ease;
}

.tic-tac-toe-cell:hover {
    opacity: .9;
}

.cell-filled {
    cursor: not-allowed;
}

.playername-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    justify-items: center;
    margin-bottom: 5rem;
}

label {
    font-size:100px;
    font-weight: bold;
}

input[type="text"] {
    appearance: none;
    border: none;
    background-color: var(--black);
    color:var(--white);
    padding:.5rem 1.5rem;
    font-size:20px;
    border-radius: .5rem;    
}

input[type="text"]:user-invalid {
    border: 2px solid var(--red);
}

.opacity-transition {
    transition: opacity .3s ease;
}
.opacity-transition:hover, .opacity-transition:focus {
    opacity: .8;
}
.start-game-btn {
    background-color: var(--green);
    padding: 1rem 2rem;
    appearance: none;
    border: none;
    border-radius: .5rem;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    margin:0 auto;
    display: block;
    font-size: 2rem;
}

.end-message-div {
    text-align: center;
}

.reset-board-btn {
    background-color: var(--red);
    appearance: none;
    border: none;
    border-radius: .5rem;
    color:white;
    font-size:2rem;
    font-weight: bold;
    padding: .5rem 1rem;
    cursor:pointer;
    margin: 0 auto;
    display:block;
}